
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
p {
    line-height: 1.6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
} 

.login-header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo-img {
    position: relative;
    width: 92px;
    height: 40px;
    left: 17px;
    top: 17px; 
}

.login-container {
    display: flex;
    position: absolute;
    width: 500px;
    height: 450px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -225px;
    background: #D9D9D9;
}

.login-content {
    /* Username */
    display: flex;
    width: 651px;
    height: 98px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    align-items: center;
    color: #000000;
}

 .login-button {
    /* Rectangle 18 */
    position: flex;
    width: 183px;
    height: 48px;
    background: #1C1A1A;
    border-radius: 80px;
    transform: rotate(0.12deg);
    color: white;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    font-style: normal;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 5px;
 }

 .register-button {
    text-align: center;
    align-content: center;
 }

 .button-form {
    margin-top: 10px;
    margin-left: 55px;
    text-align: center;
    align-self: center;
 }

 .login-label {
    margin-left: 50px;
 }

 input {
    /* Rectangle 8 */
    position: flex;
    text-align: left;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 80px;
    margin-left: 40px;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-indent: 5%;
    padding: auto;
 }

