@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.rbc-calendar {
    background: rgb(107 114 128);
    color: white;
    font-family: 'Staatliches', sans-serif;
    
}

.rbc-header {
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: rgb(107 114 128);
    border: 1px solid;
}

.rbc-toolbar {
 
    justify-content: center;
    background-color: rgb(107 114 128);
    color: white;
    border-radius: 3px;
}

.rbc-toolbar button {
    color: white;
    background-color: rgb(107 114 128);
    border: none;
    
}

.rbc-month-view {
    border: none;
    padding: 0px;
    background: rgb(156 163 175);
    color : white;
}

.rbc-month-view .rbc-today {
    background-color: #04aa6d !important;
}

/* .rbc-time-view .rbc-time-gutter .rbc-time-column {
    background-color: rgb(156 163 175);
    color: black;
} */

.rbc-allday-cell {
    display: none;
  }
  
  .rbc-time-header-cell .rbc-today {
    background-color: #04aa6d !important;
  }
  
  .rbc-time-slot {
    color: #74a4c3;
    z-index: 1;
  }
  
  .rbc-time-view .rbc-time-slot {
    background-color: rgb(156 163 175);
    color: white;
    border: none;

  }

.rbc-event, .rbc.background-event {
    z-index: 2;
    padding: 0px !important;
    border: none !important;
    text-align: center;
    align-self: center;
    top: 50%;
}

.rbc-events-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.rbc-event-label {
    display: none !important;
}

.rbc-agenda-table tr{
    display: flex;
}

.rbc-agenda-content td {
    width: 33.33%;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    background: rgb(156 163 175);
    color: white;
    border: none;
    padding: 0px;
}